.modal._modal-right {
	.modal-dialog {
		position: fixed;
		height: 100%;
		width: 0;
		margin: 0;
		top: 0;
		right: 0;
	}

	.modal-content {
		height: 100%;
		border: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.modal.show._modal-right {
	.modal-dialog {
		transform: none;
	    width: 100%;
	}
}

.modal.fade._modal-right {
	.modal-dialog {
		transition: width 0.3s;
	}
}
