// todo: disabled button styles
button {
  &:disabled {
    cursor: not-allowed;
    .material-icons {
      pointer-events: none;
      opacity: .65;
    }
  }
}

// todo: brand button icon margin
.btn-brand:not(:only-child) {
  .c-icon {
    margin-top: 0 !important;
  }
}

.table-bordered {
  td, th {
    font-size: 12px!important;
    padding: 0.35rem;
  }
}

.fix-th-pad {
  padding-right: 0.35rem!important;
}


@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
}

.text-dark {
  color: #333!important;
}

// .material-icons {
//   font-size: 18px!important;
//   cursor: pointer;
// }
.material-icons.md {
  font-size: 30px!important;
}

.form-control {
  &:focus {
    box-shadow: inset 0 -1px 0 #ddd!important;
    border-color: unset;
  }
}

.remove-focus {
  &:focus {
    box-shadow: inset 0 -1px 0 #ddd!important;
    border-color: unset;
    border: none!important;
  }
}
