// Variable overrides
.vertical-align-bottom {
  vertical-align: bottom!important;
}

.bg-lightgray {
  background-color: #ccc;
}

.pl-7, .px-7 {
  padding-left: 70px!important;
  padding-right: 70px!important;
}

.pl-8, .px-8 {
  padding-left: 80px!important;
  padding-right: 80px!important;
}

.justify-content-space {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.v-align-middle {
  vertical-align: middle!important;
}

.v-align-bottom {
  vertical-align: bottom!important;
}